<header style="background: linear-gradient( 208.83deg, #1c1b1a 16.69%, #f99011 100% ); color: white;">
    <img src="assets/img/logo.svg" alt="Logo de Batatabit" style="width: 20%; height: 10%;" />
    <div class="header--title-container">
      <h1>La próxima revolución en el intercambio de criptomodenas.</h1>
      <p>
        Batatabit te ayuda a navegar entre los diferentes precios y
        tendencias.
      </p>
      <br>
      
      <a href="" class="header--button"
        >Conoce Nuestros Planes <span></span
      ></a>
    </div>
  </header>