

<div class="container">
    <div class="row">
        <div class="col-md-2">               
        </div>
        <div class="col-md-6">
            <div class="container">
                <img src="assets/icons/batata.svg" alt="Batatabit">
                <h1> Batatabit</h1>            
                <h3>La próxima revolución en el <br> intercambio de criptomonedas.</h3>
                <button class="btn btn-primary">Conoce Nuestros Planes </button>
                <ul>
                    <li *ngFor="let item of data">
                        {{item.name}}
                    </li>
                </ul>
            </div>            
        </div>
        <div class="col-md-2">               
        </div>
    </div>
</div>


